body,ul,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑";
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}
img{
	border: 0;
	vertical-align: top;
	display: block;
	width: 220px;
	height: 124px;
}
i{
	display: block;
	font-style: normal;
}
.clearfix:after{
	content: '.';
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
.clearfix{
	clear: both;
	display: block;
	zoom: 1;
}
/*--------------------------------------*/
.wrap{
	background: #f2f2f2;
	position: relative;
}
.wrapBox{
	width: 1196px;
	position: relative;
	margin: 10px auto;
	overflow: hidden;
	padding:20px 0 160px 0;
	background: #f2f2f2;
}
/*-------------------------------------*/
#btns a{
	width: 40px;
	height: 200px;
	font: 40px/200px "微软雅黑";
	color: #008000;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 20%;
	margin-top: -30px;
}
#btns a:nth-of-type(1){
	left: 10px;
}
#btns a:nth-of-type(2){
	right: 10px;
}
/*-----------------------------------*/
/*-----------------------------------*/
.list1{
	width: 300%;
	height: 279px;
	position: relative;
	left: 0;
}
.list1 li{
	float: left;
}
.list1>li{
	width: 1196px;
}
.list1 .list2 li{
	margin-left: 12px;
}
.list1 .list2>li:first-child{
	margin-left: 0px;
}
.list2 li a{
	padding: 1px;
	margin-bottom: 18px;
	position: relative;
}
.list2 li .first img{
	width: 468px;
	height: 273px;
}
.list2 li .active{
	border: 1px solid red;
	padding: 0;
	z-index: 1;
}
.list2 li .box1{
	/*position: relative;*/
	background: #FFFFFF;
	padding: 2px;
	border: 1px solid #f2f2f2;
}

.box1 div:nth-of-type(1){
	width: 220px;
	position: absolute;
	bottom: 10px;
	padding-left: 12px;
	padding-bottom: 1px;
}
.active .box1 div:nth-of-type(1){
	padding-bottom: 0;
}
.box1 div:nth-of-type(1) h4{
	font: 14px/22px "微软雅黑";
	
}
.box1 div:nth-of-type(1) p{
	font: 12px/20px "微软雅黑";
	color: #96e653;
}
.box1 i{
	width: 62px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -31px;
	background: url(images/play01.png) no-repeat left bottom;
	display: none;
}
/*----------------------------------------------------*/
.box1 div:nth-of-type(2){
	width: 226px;
	position: absolute;
	top: 130px;
	left: -1px;
	background: #fff;
	height: 0px;
	overflow: hidden;
}


.box1 div:nth-of-type(2) h6{
	padding-left: 20px;
	font: 12px/28px "微软雅黑";
	height: 28px;
	color: #999966;
}
.box1 div:nth-of-type(2) span{
	display: block;
	margin-bottom: 6px;
	padding-left: 18px;
}
.box1 div:nth-of-type(2) span em{
	font: 12px/22px "微软雅黑";
	color: #999999;
	margin-right: 20px;
}
.box1 div:nth-of-type(2) p{
	background: #f6f9f1;
	color: #767776;
	font: 12px/20px "微软雅黑";
	padding: 10px;
}












